xsd/import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="semesterapparat" type="semesterapparatType"/>
    <xs:simpleType name="ImportType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="file"/>
            <xs:enumeration value="url"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:string" name="icon"/>
            <xs:element type="xs:string" name="label">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:choice>
                <xs:element type="xs:string" name="url"/>
            </xs:choice>
            <xs:choice>
                <xs:element type="xs:string" name="file"/>
                <xs:element type="xs:string" name="filename"/>
            </xs:choice>

            <xs:element type="xs:string" name="description"/>
            <xs:element type="metadataType" name="metadata" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:list itemType="ImportType"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="pagesType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="from"/>
                <xs:attribute type="xs:string" name="to"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="signatureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="bookingId"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="locationType">
        <xs:sequence>
            <xs:element type="pagesType" name="pages"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timestampType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="format"/>
                <xs:attribute type="xs:string" name="value"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="place"/>
            <xs:element type="xs:string" name="publisher"/>
            <xs:element type="xs:string" name="year"/>
            <xs:element type="xs:string" name="isbn"/>
            <xs:element type="signatureType" name="signature"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="metadataType">
        <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="comment"/>
            <xs:element type="bookType" name="book"/>
            <xs:element type="locationType" name="location"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="semesterapparatType">
        <xs:sequence>
            <xs:element type="xs:string" name="label">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="timestampType" name="timestamp"/>
            <xs:element type="itemType" name="item"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="iliasID" use="required"/>
    </xs:complexType>
</xs:schema>